<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>QB OAuth :: Provide info</title>
</head>
<body>
  <h1>Quickbooks OAuth2 - Get Authorization Tokens</h1>

  <div class="container-fluid px-3">
    <h2>Your Auth info</h2>

    <table class="table">
      <tbody>
      <tr>
        <th scope="row">realm_id</th>
        <td><div style="white-space: pre-wrap; font-family:monospace;">[[ ${realmId} ]]</div></td>
      </tr>
      <tr>
        <th scope="row">auth_code</th>
        <td><div style="white-space: pre-wrap; font-family:monospace;">[[ ${auth_code} ]]</div></td>
      </tr>
      <tr>
        <th scope="row">access_token</th>
        <td><div style="white-space: pre-wrap; font-family:monospace;">[[ ${access_token} ]]</div></td>
      </tr>
      <tr>
        <th scope="row">refresh_token</th>
        <td><div style="white-space: pre-wrap; font-family:monospace;">[[ ${refresh_token} ]]</div></td>
      </tr>
      </tbody>
    </table>

    <a class="btn btn-primary" th:href="@{/}" role="button">Home</a>
  </div>
</body>
</html>